/* Import Google Font - Open Sans and Raleway*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #FAFAFA;
    font-size: 16px;
}

header{
    display: flex;
}

.logo {
    display: flex;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    font-family: 'Open Sans', Helvetica, sans-serif;
    list-style-type: none;
    font-size: 20px;
    margin: 30px 20px;
    font-weight: 700;
  }

a {
    text-decoration: none;
    color: #007EA4;
}

nav a:hover {
    color: #F8B053;
}

/* Styling for FontAwesome Icons */
i.fas {
     color: #007EA4;
     font-size: 18px;
     margin: 0px 5px;
    }

i.fas:hover {
    color: #F8B053;
    }

.addProduct {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #007EA4;
    border: 2px solid #007EA4;
    padding: 6px 10px;
    cursor: pointer;
    display: inline-block;
  }
  
.addProduct:hover {
    background: #007EA4;
    color: #ffffff;
  }

h1, h2, h3, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #007EA4;
}

h4 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    margin: 20px 0px;
}

#mainSearch {
    background-image: url('img/grad_01.jpg');
    background-blend-mode: multiply;
    background-color: #00485e;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.areYouReady {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    display: block;
}

.take5 {
    color: #F8B053;
}

#mainSearch .search-container {
    float: none;
    margin: 0px;
  }
  
  #mainSearch input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 50%;
  }
  
  #mainSearch .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 0px;
    background: #007EA4;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #ffffff;
  }
  
  #mainSearch .search-container button:hover {
    background: #F8B053;
  }

#mainReviews {
    color: #ffffff;
}