/* Import Google Font - Open Sans and Raleway*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

body {
    background-color: #FAFAFA;
    font-family: 'Open Sans', Helvetica, sans-serif;
    size: 16px;
}

#topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0px;
    right: 0px;
}

#logo {
    margin: 0px;
}

#topNav {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #007EA4;
    text-decoration: none;
    margin: 30px;
}

#topNav a{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #007EA4;
    display: inline-block;
    text-decoration: none;
    margin: 30px;
}

#topNav a:hover {
    color: #F8B053;
}


.addProduct {
    font-family: 'Open Sans', Helvetica, sans-serif;
    size: 24px;
    font-weight: 700;
    color: #007EA4;
    border: 2px solid #007EA4;
    padding: 6px 10px;
    cursor: pointer;
  }
  
.addProduct:hover {
    background: #007EA4;
    color: #ffffff;
  }

h1, h2, h3, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #007EA4;
}

h4 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

#mainSearch {
    background-image: url('img/grad_01.jpg');
    background-blend-mode: multiply;
    background-color: #00485e;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0px;
    position: absolute;
    background-position: center;
    background-size: cover;
}

#areYouReady {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    display: block;
}

.take5 {
    color: #F8B053;
}

#mainSearch .search-container {
    float: none;
  }
  
  #mainSearch input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 50%;
  }
  
  #mainSearch .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #007EA4;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #ffffff;
  }
  
  #mainSearch .search-container button:hover {
    background: #F8B053;
  }

#mainReviews {
    color: #ffffff;
}

/* Styling for FontAwesome Icons
i.fas, i.fab {
     color: #007EA4;
     font-size: 18px;
     margin: 0px 5px;
    }

i.fas, i.fab:hover {
        color: #F8B053;
       }
*/