
* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #FAFAFA;
    font-size: 16px;
}

/* Styling Navigation Bar Items */
.t5nav {
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-decoration: none;
    color: #007EA4;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 15px;
}

nav a:hover {
    color: #F8B053;
    text-decoration: none;
}

.addProduct {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #007EA4;
    border: 2px solid #007EA4;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    text-align: center;
}
  
.addProduct:hover {
    background: #007EA4;
    color: #ffffff;
  }

  /* Styling Headers */
h1, h2, h3, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #007EA4;
}

/* Styling Image Carousel Reviews Header */
h4 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    margin: 200px 0px 20px 0px;
}

/* Styling Image Carousel Reviews FA Quotations */
.fa-quote-left, .fa-quote-right {
    color: white;
    padding: 5px;
}

/* Styling Image Carousel Tagline */
.areYouReady {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.take5 {
    color: #F8B053;
}

/* Styling Image Carousel Pictures */
.carousel-inner > .item {
    height: 90vh;
    object-fit: contain;
 }

/* Styling Image Carousel Search Box */
.carousel-inner > .search-sec{
    padding: 2rem;
    position:absolute;
    z-index: 1;
    width: 100%;
    justify-self: center;
}
  
.search-box {
    display: block;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #007EA4;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.search-container button {
    background: #007EA4;
    border: 1px solid #007EA4;
    color: #ffffff;
    font-size: 16px;
    height: calc(3rem + 2px) !important;
    padding: 0px 15px;
}

.search-container button:hover {
    background: #F8B053;
    border: 1px solid #F8B053;
}

/* Styling Index Page About Us */
#mainAbout {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.aboutTitle {
    width: 50%;
    text-transform: capitalize;
    text-align: right;
    padding-right: 50px;
}

.aboutContent {
    width: 50%;
}

.aboutContent a {
    font-family: 'Open Sans', Helvetica, sans-serif;
    width: 30%;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #007EA4;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
  
.aboutContent a:hover {
    background: #F8B053;
    color: #007EA4;
  }

  /* Styling Footer */
.footer {
    background-color: #007EA4;
}

.footer-link {
    color: #ffffff;
}

.footer-social {
    background-color: #F8B053;
    color: #007EA4;
}