
* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #FAFAFA;
    font-size: 16px;
}

/* All: Navigation Bar Items */
.t5nav {
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-decoration: none;
    color: #007EA4;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 15px;
}

nav a:hover {
    color: #F8B053;
    text-decoration: none;
}

.addProduct {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #007EA4;
    border: 2px solid #007EA4;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    text-align: center;
}
  
.addProduct:hover {
    background: #007EA4;
    color: #ffffff;
  }

  /* All: Headers */
h1, h2, h3, h5 {
    font-family: 'Raleway', sans-serif;
    color: #007EA4;
}

/* Index: Image Carousel Reviews Header */
h4 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    margin: 200px 0px 20px 0px;
}

/* Index: Image Carousel Reviews FA Quotations */
.fa-quote-left, .fa-quote-right {
    color: white;
    padding: 5px;
}

/* Index: Image Carousel Tagline */
.areYouReady {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.take5 {
    color: #F8B053;
}

/* Index: Image Carousel Pictures */
.carousel-inner > .item {
    height: 90vh;
    object-fit: contain;
 }

/* Index: Image Carousel Search Box */
.carousel-inner > .search-sec {
    padding: 2rem;
    position: absolute;
    z-index: 1;
    width: 100%;
    justify-self: center;
}
  
.search-box {
    display: block;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #007EA4;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.search-container button {
    background: #007EA4;
    border: 1px solid #007EA4;
    color: #ffffff;
    font-size: 16px;
    height: calc(3rem + 2px) !important;
    padding: 0px 15px;
}

.search-container button:hover {
    background: #F8B053;
    border: 1px solid #F8B053;
}

/* Index: About Us */
.mainAbout {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.aboutTitle {
    width: 50%;
    text-transform: capitalize;
    text-align: right;
    padding-right: 50px;
}

.aboutContent {
    width: 50%;
}

.aboutContent a {
    font-family: 'Open Sans', Helvetica, sans-serif;
    width: 30%;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #007EA4;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
  
.aboutContent a:hover {
    background: #F8B053;
    color: #007EA4;
    text-decoration: none;
  }

/* All: Footer */
.footer {
    background-color: #007EA4;
    color: #ffffff;
    font-size: 10px;
}

.subscribe {
    background: #F8B053;
    border: 0px;
    color: #ffffff;
    font-size: 16px;
    margin-left: 7px;
    padding: 5px;
    border-radius: 4px;
}

.footer-subscribe {
    font-size: 12px;
    color: #ffffff;
}

.footer-link a {
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
}

.footer-link a:hover {
    color: #F8B053;
}

.footer-social {
    background-color: #F8B053;
    color: #007EA4;
}

/* Mobile */
.mobile {
    display: none;
}

@media screen and (max-width: 700px) {
    /* Nav Bar */
    .mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .desktop {
        display: none;
    }

    h1 {
        font-size: 28px;
    }

    /* M.Index: Image Carousel */
     .carousel-inner > .item img {
        height: 100vh;
        object-fit: cover;
     }

    .areYouReady, .take5 {
        font-size: 35px;
    }

    .carousel-inner > .search-sec {
        padding-top: 6rem;
        position: absolute;
        z-index: 1;
        width: 100%;
        justify-self: center;
    }

    /* M.Index: About Us */
    .mainAbout {
        display: flex;
        flex-direction: column;
      }

    .aboutTitle, .aboutContent {
        width: 100%;
    }
    
    .aboutTitle {
    text-align: left;
    padding-right: 0px;
    }

    .aboutTitle p {
        font-size: 12px;
        }

    .aboutContent a {
        width: 100%;
    }
}